<a href="https://colab.research.google.com/github/izaleme/CienciaDeDados/blob/main/Avaliacao1_CDII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# P1 de CDD II

*Aluno: Izabela Leme*

*RA: 47753*

**`#Import data and modules`**

In [1]:
import numpy as np
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd

**`#Carrega o drive e o arquivo data`**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
glass = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datas/glass.data")

**`#Informações do arquivo`**

In [5]:
glass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   1        213 non-null    int64
 1   1.52101  213 non-null    float64
 2   13.64    213 non-null    float64
 3   4.49     213 non-null    float64
 4   1.10     213 non-null    float64
 5   71.78    213 non-null    float64
 6   0.06     213 non-null    float64
 7   8.75     213 non-null    float64
 8   0.00     213 non-null    float64
 9   0.00.1   213 non-null    float64
 10  1.1      213 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.4 KB

**`#Estatísticas do arquivo, mais descritivo`**

In [6]:
glass.describe()

                1     1.52101       13.64  ...        0.00      0.00.1         1.1
count  213.000000  213.000000  213.000000  ...  213.000000  213.000000  213.000000
mean   108.000000    1.518353   13.406761  ...    0.175869    0.057277    2.788732
std     61.631972    0.003039    0.818371  ...    0.498245    0.097589    2.105130
min      2.000000    1.511150   10.730000  ...    0.000000    0.000000    1.000000
25%     55.000000    1.516520   12.900000  ...    0.000000    0.000000    1.000000
50%    108.000000    1.517680   13.300000  ...    0.000000    0.000000    2.000000
75%    161.000000    1.519150   13.830000  ...    0.000000    0.100000    3.000000
max    214.000000    1.533930   17.380000  ...    3.150000    0.510000    7.000000

[8 rows x 11 columns]

**`#Definindo base de dados treinamento e base de dados de teste`**

In [7]:
X = glass.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]].values
y = glass.iloc[:, 10].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [8]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

KNeighborsClassifier()

**`#Predições`**

In [9]:
y_pred = knn.predict(X_test)

In [10]:
y_pred

array([7, 1, 2, 5, 3, 2, 2, 2, 1, 2, 1, 3, 3, 2, 2, 7, 2, 1, 3, 3, 6, 7,
       7, 7, 3, 1, 6, 1, 2, 2, 1, 1, 2, 2, 2, 3, 1, 3, 2, 7, 2, 6, 2, 1,
       2, 2, 1, 2, 1, 2, 1, 2, 7, 1])

In [11]:
y_test

array([7, 1, 2, 5, 3, 2, 2, 2, 1, 2, 1, 2, 3, 2, 2, 7, 2, 1, 3, 3, 6, 7,
       7, 7, 2, 1, 5, 1, 2, 2, 1, 1, 2, 2, 2, 3, 1, 3, 2, 7, 2, 6, 2, 1,
       2, 2, 1, 2, 1, 2, 1, 2, 7, 1])

In [12]:
Counter(y_test)

Counter({1: 14, 2: 23, 3: 6, 5: 2, 6: 2, 7: 7})

In [13]:
Counter({2: 11, 1: 18, 0: 16})

Counter({0: 16, 1: 18, 2: 11})

In [14]:
Counter(y_pred)

Counter({1: 14, 2: 21, 3: 8, 5: 1, 6: 3, 7: 7})

In [15]:
hit_total = 0
for i in range(len(y_pred)):
  if y_pred[i] == y_test[i]:
    hit_total += 1

print(hit_total, "of", len(y_test), '=', round((hit_total/len(y_test)) * 100,2))

51 of 54 = 94.44