<a href="https://colab.research.google.com/github/izaleme/CienciaDeDados/blob/main/TabalhoIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TRABALHO DE IA**

In [ ]:
from sklearn import datasets  
import matplotlib.pyplot as plt  
import pandas as pd  
#importing the necessary packages  
from sklearn.model_selection import train_test_split  
from sklearn.naive_bayes import GaussianNB   
#downloading the iris dataset, splitting it into train set and validation set 
iris = datasets.load_iris()  
class_names = iris.target_names  
iris_df=pd.DataFrame(iris.data, columns=iris.feature_names)  
iris_df['target']=iris.target


iris_df.head()
iris_df.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(iris_df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']], iris_df['target'], random_state=0, test_size = 0.35)
NB = GaussianNB()  
NB.fit(X_train, y_train)   
y_predict = NB.predict(X_test)  
print("Accuracy NB: {:.2f}".format(NB.score(X_test, y_test)))

Accuracy NB: 0.96

No tocante a base de dados, o que a implementação com Naive Bayes difere da implementação com K-Means? Justifique a sua resposta.

A Naive Bayes é uma implementação que, ao contrário do K-means, é supervisionada. Portanto, necessita de treinamento, no qual são carregados dados já rotulados para seu aprendizado.

O K-Means, por outro lado, é uma implementação não supervisionada, portanto não necessita de treinamento ou rótulos. Assim, ela não possui dados rotulados.